body {
    min-width: 300px;
	background-color: #fff;
	margin: 0;
	font-size: 1em;
}

body > section, body > footer {
	padding: 15px;
}

p {
	margin: 0.25rem 0 0.5rem;
}

p:last-child {
	margin-bottom: 0;
}

section {
	border-bottom: 1px solid #ccc;
}

h3 {
	color: #1573d4;
	font-weight: bold;
	margin: 0;
	font-size: 1.1em;
}

.foe-link {
	color: #007bff;
	cursor: pointer;
}

footer {
	background-color: #eee;
	font-size: 90%;
	text-align: right;
}
